TADA WAVE "resources/TADA3.WAV"
FAHH WAVE "resources/fahh.wav"
BEEP WAVE "resources/Beep2.wav"

1 24 "manifest.xml"

101 ICON "resources/frame_00.ico"
102 ICON "resources/frame_01.ico"
103 ICON "resources/frame_02.ico"
104 ICON "resources/frame_03.ico"
105 ICON "resources/frame_04.ico"
106 ICON "resources/frame_05.ico"
107 ICON "resources/frame_06.ico"
108 ICON "resources/frame_07.ico"
109 ICON "resources/frame_08.ico"
110 ICON "resources/frame_09.ico"
111 ICON "resources/frame_10.ico"
112 ICON "resources/frame_11.ico"
113 ICON "resources/frame_12.ico"
114 ICON "resources/frame_13.ico"
115 ICON "resources/frame_14.ico"
116 ICON "resources/frame_15.ico"
117 ICON "resources/frame_16.ico"
118 ICON "resources/frame_17.ico"
119 ICON "resources/frame_18.ico"
120 ICON "resources/frame_19.ico"
121 ICON "resources/frame_20.ico"
122 ICON "resources/frame_21.ico"
123 ICON "resources/frame_22.ico"
124 ICON "resources/frame_23.ico"
125 ICON "resources/frame_24.ico"
126 ICON "resources/frame_25.ico"
127 ICON "resources/frame_26.ico"
128 ICON "resources/frame_27.ico"
129 ICON "resources/frame_28.ico"
130 ICON "resources/frame_29.ico"
131 ICON "resources/frame_30.ico"
132 ICON "resources/frame_31.ico"
133 ICON "resources/frame_32.ico"
134 ICON "resources/frame_33.ico"
135 ICON "resources/frame_34.ico"
136 ICON "resources/frame_35.ico"
137 ICON "resources/frame_36.ico"
138 ICON "resources/frame_37.ico"
139 ICON "resources/frame_38.ico"
140 ICON "resources/frame_39.ico"
141 ICON "resources/frame_40.ico"
142 ICON "resources/frame_41.ico"
143 ICON "resources/frame_42.ico"
144 ICON "resources/frame_43.ico"
145 ICON "resources/frame_44.ico"
146 ICON "resources/frame_45.ico"
147 ICON "resources/frame_46.ico"
148 ICON "resources/frame_47.ico"
149 ICON "resources/frame_48.ico"
150 ICON "resources/frame_49.ico"
151 ICON "resources/frame_50.ico"
152 ICON "resources/frame_51.ico"
153 ICON "resources/frame_52.ico"
154 ICON "resources/frame_53.ico"
155 ICON "resources/frame_54.ico"
156 ICON "resources/frame_55.ico"
157 ICON "resources/frame_56.ico"
158 ICON "resources/untitled.ico"